.svgWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.svgWrapper svg {
  max-width: 100%;
  height: auto;
}

.main {
  width: 100%;
  min-height: calc(100vh - 3.5rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
