.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 100%;
}

.contentWrapper {
  width: 750px;
  height: 95vh;
  text-align: center;
  display: grid;
  align-content: center;
  justify-content: center;
}

.indexing {
  z-index: 3;
}
