.wmde-markdown ul, .wmde-markdown ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0 !important;
}

.wmde-markdown {
  background-color: transparent !important;
}

.w-md-editor {
  background-color: #fff !important;
}

.w-md-editor-content .w-md-editor-preview .wmde-markdown {
  background-color: #fff !important;
}
